* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"Segoe UI";
  }


.container {
    max-width: 1500px;
    min-width: 1200px;
    margin: 40px auto;
    overflow: auto;
    border: 1px solid grey;
    padding: 30px 0px;
    border-radius: 3px;
    background-color: lightgrey;
    box-shadow: 0 0 0.3em rgb(75, 73, 73);  
}


.header {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
    margin-bottom: 20px;
}

.container-small {
    display: flex;
    justify-content: space-between;
}

.pregame-container {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.btn {
    display: inline-block;
    background: darkcyan;
    color: white;
    border: 1px solid rgb(58, 54, 54);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 0 0.5em rgb(75, 73, 73);

  }

.btn-start {
    padding: 10px 20px;
    width: 20%;
    aspect-ratio:5/1;
    font-size: larger;
}

  
.btn-pregame {
    margin: 0 60px;
    width:45%;
    aspect-ratio: 11/1;
    font-size: 25px;
    font-weight: normal;
    background: rgba(0, 139, 139, 0.541);
}

.rules-about-container{
    margin:60px;
}


.side-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    padding:20px 60px;
    padding-right: 100px;
    height:auto;
}

.cat{
    border: 1px solid black;
    box-shadow: 0 0 0.2em grey;
}

.cat-label{
    min-width:100%;
    text-align: center;
    padding: 5px 5px;
}

.cat-status {
    width: 50%;
    text-align: center;
    padding: 5px 5px;
}

.cat-name-status {
    display: flex;
    justify-content: center;
}

.score{
    border: 1px solid black;
    box-shadow: 0 0 0.2em grey;

}

.score-label{
    min-width:100%;
    text-align: center;
    padding: 5px 5px;
}

.score-status {
    width: 50%;
    text-align: center;
    padding: 5px 5px;
}

.score-players {
    display: flex;
    justify-content: center;
}

.card{
    background-color: darkgray;
    border: solid rgb(211, 117, 2) 2px;
    border-radius: 12px;
    cursor: pointer;
    aspect-ratio: 1 / 1.4;
    box-shadow: 0 0 0.3em rgb(75, 73, 73);  
}

.country-border{
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-top: 20px;
    border: solid black 1px;
    background-color:white;
    text-align: center;
}

.border-small {
    margin-top: 10px;
}

.country-name{
    margin-top: 10px;
    color: rgb(182, 105, 11);
    font-size: 24px;
    font-weight: bold;
}


.name-small {
    margin-top: 5px;
    font-size: 0.8em;

}

.country-capital {
    font-size: 20px;
    font-style: italic;
}

.capital-small {
    font-size: 0.8em;
}

.card-large{
    margin:60px 0;
    cursor: default;
    padding: 20px 40px;
    min-width: 200px;

}


.card-small {
    padding: 10px 20px;
    margin: 20px 60px;
    min-width: 150px;

}

.game-field {
    width: 70%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}